.container-fluid {
  height: 80vh;
  margin: auto;
  bottom: auto;
  overflow-y: scroll;
}

.chat_container {
  border-bottom: 2px solid #dedede;
  padding: 8px;
  margin: 8px;
}

.flex {
  display: flex;
  justify-content: flex-start;
}

.chat_container::after {
  content: "";
  clear: both;
  display: table;
}

.chat_container img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  margin-right: 20px;
  border-radius: 10%;
}

.form {
  margin: 10px;
}

.message-area {
  height: 5vh;
  display: flex;
}

.message-area-text {
  width: 80%;
}

.message-area-button {
  width: 20%;
}

.in_form {
  width: 100%;
  height: 100%;
  resize: none;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.talk {
  width: 100%;
  height: 100%;
  background: #96bdc6;
  color: #fff;
  font-size: medium;
  font-weight: bold;
  border: 0;
}
