* {
    margin: 0px;
    padding: 0px;
}



a.base{
    text-decoration: none;
    color: white;
    font-size: x-large; 
}

a.account{
    text-decoration: none;
    font-size: medium;
    color: white;
}

a.base:hover{
    color: white;
}

a.account:hover{
    color: gray;
}


header{
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    border-bottom: 5px solid #96BDC6;
    background-color: #81968F;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    margin: 8px;    
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.body{
    overflow-x: hidden;
}

.alert alert-info{
    position: relative;
}

