<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ staticfile('css', 'base.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>
    {% block head %}{% endblock %}
</head>

<body>
    <header class="title_bar">
        <div class="wrapper">
            <a class="base" href="/">Agent.chat</a>
            {% if not session.login %}
            <a class="account" href="/login">login</a>
            {% else %}
            <a class="account" href="/logout">logout</a>
            {% endif %}
        </div>
    </header>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% block body %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>

</html>