{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ staticfile('css', 'chat.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div id="scroll-inner">
        {% for chat in user.chats %}
        <div class="chat_container">
            <img src="/static/img/user.jpg" alt="Avatar">
            <p>{{ chat.user_chat }}</p>
        </div>
        <div class="chat_container">
            <img src="/static/img/bot.jpg" alt="Avatar">
            <p>{{ chat.bot_chat }}</p>
        </div>
        {% endfor %}
    </div>
</div>

<div class="form">
    <form action="/chat/{{ user.id }}" method="POST">
        <div class="message-area">
            <div class="message-area-text">
                <textarea class="in_form" type="text" name="text" required></textarea>
            </div>
            <div class="message-area-button">
                <input class="talk" type="submit" value="Chat">
            </div>
        </div>
        <a class="delete" href="/delete/{{ user.id }}" role="button">Delete</a>
    </form>
</div>

<script src="{{ staticfile('js', 'button_check.js') }}"></script>
{% endblock %}