{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}
<form action="/login" method=post>
    <div class="form-group">
        <label for="exampleFormControlInput1" class="form-label">User</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Username" , name=name>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Password" , name=pas>
    </div>
    <button type="submit" class="btn btn-primary mb-3">login</button>
</form>
<a class="create" href="/create" role="button">new account create</a>
{% endblock %}